/* clear styles */
* {
    margin:0;
    padding: 0;
}

/* page styles */
body {
    font-family: 'Slabo 27px', serif;
    background-color: rgb(242, 242, 242);
}

a {
    text-decoration: none;
    color: #999;
}

/* nav bar styles */
.nav {
    background-color: rgb(53, 53, 53);
    color: #fff;
    font-size: 0.7em;
    position: fixed;
    width: 100%;
    height: 20px;
    text-align: center;
    z-index: 9999;
}

.nav:before, .nav:after {
    content: "";
    display: table;
}

.nav:after {
    clear:"both";
}

.nav-circle {
    display: inline-block;
    text-align: center;
    border: solid #ccc 2px;
    border-radius: 50%;
    margin: 0 10px 0 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.nav a{
    display: inline-block;
    background-color: rgb(53, 53, 53);
    list-style-type: none;
    width:25%;
    float:left;
    color: #ccc;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav a.active {
    border-bottom: solid #c00 2px;
}

@media (min-width: 500px) {
    .nav {
        height: 30px;
    }

    .nav-circle {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .nav a{
        height: 50px;
        line-height: 50px;
    }
}


/* main container */

.main-container {
    padding: 70px 0 0 0;
    width: 100%;
    margin: auto;
}

.main-container {
    color: #999;
}

.main-container section{
    width:90%;
    margin: auto;
}

.main-container input[type="text"] {
    width:100%;
    height:30px;
    margin: 10px 0 0 0;
    font-size: 1.2em;
    padding: 0 0 0 40px;
    box-sizing: border-box;
}

.main-container input[type="text"] {
    width:100%;
    height:40px;
    margin: 10px 0 0 0;
    font-size: 1.2em;
    padding: 0 0 0 40px;
    box-sizing: border-box;
}

.main-container .btn {
    background-color: #FE5A4C;
    width: 100%;
    display: inline-block;
    margin: 10px 0 0 0;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
}




/* details styles*/
.options{
    background-color: #fff;
    margin-top: 20px;
}

.options h2 {
    font-size: 1em;
    width:60%;
    margin: 20px 0 0 20px;
    display: inline-block;
}
.often-container {
    width: 100%;
    padding: 10px 0 10px 0; 
}

.often-options {
    background-color: #fff;
    display: inline-block;
    width:20%;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 0 0 0 10px;
    border: solid 2px #ccc;
    font-size: 0.8em;
}
.often-options:nth-child(1) {
    margin: 0 0 0 20px;
}

.often-container .round {
    background-color: #ccc;
    border: solid 2px #fff;
    box-shadow: 0 0 0 2pt #ccc;
    border-radius: 50%;
    outline-radius: 50%; 
    width:10px;
    height: 10px;
    margin:10px auto 0 auto;
}

.active {
    border-color: orange;
}
.active .round{
    border-color: #fff;
    box-shadow: 0 0 0 2pt orange;
    background-color: orange;
}

.lnk-basic {
    display: block;
    text-align: right;

}

.service {
    display: block;
    margin: 20px 0 0 20px;
    color: #777;
    padding-bottom: 20px;
}

.thumb-up {
    color: orange;
    font-size: 20px;
    margin-right:5px; 
}

.other {
    text-align: center;
}

/* toggle list container */
.toggle-list {
    width:100%;
    position: relative;
}

.toggle-list-container {
    overflow: auto;
    height: 160px;
    width: 100%;
    background-color: #fff;
    position:absolute;
    z-index: 9999;
}

.toggle-list-container>ul {
    color: #000;
    line-height: 39px;
    font-size: 1.2em;
    list-style-type: none;
    z-index: 9999;
}

.toggle-list-container>ul li{
    padding: 0 0 0 40px;
    border-bottom: solid 1px #ccc;
}

.toggle-list-container>ul li:hover{
    background-color: #ddd;
}

.toggle-list .light-text {
    color: #ccc;
}

.toggle-list .hard-text {
    color: #111;
    display: inline-block;
    width: 40%;
    text-overflow: ellipsis;
}

.toggle-icon {
    margin-top: 10px;
    position: absolute;
    z-index: 2;
    color: #444;
    background-color: #ccc;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
}

/* big screens */

@media (min-width: 800px) {
    .main-container {
        padding: 90px 10px 0 10px;
        width: 70%;
    }

    .big-column {
        width:45%;
        display: inline-block;
        height: 100px;
        float: left;
    }

    .big-column.left {
        padding-right: 5%;
    }

    .big-column.rigth {
        padding-left: 5%;
    }

    .big-column-big{
        height: 150px;
    }

    .lnk-basic{
        text-align: left;
        margin-top: 20px;
    }

    .big-column.full {
        width:100%;
        height: 300px;
    }

    .big-column label {
        padding-top: 20px;
    }

    .page-container {
        width: 100%;
    }

    .page-container:before, .page-container:after {
        content: "";
        display: table;
    }

    .page-container:after {
        clear:"both";
    }
    
    .checkbox {
        margin-top: 20px
    }

    .main-container .btn {  
        margin-top: 30px;  
        height: 40px;
        line-height: 40px;
    }

    .thumb-up {
        color: orange;
        font-size: 50px;
        margin-left: 20px;
    }

    .lnk-back {
        padding-top: 40px;
        display: block;
    }
}
