/* clear styles */
* {
    margin:0;
    padding: 0;
}

/* page styles */
body {
    font-family: 'Slabo 27px', serif;
    background-color: rgb(242, 242, 242);
}

/* nav bar styles */
.nav {
    background-color: rgb(53, 53, 53);
    color: #fff;
    font-size: 0.7em;
    position: fixed;
    width: 100%;
    height: 20px;
    text-align: center;
}

.nav:before, .nav:after {
    content: "";
    display: table;
}

.nav:after {
    clear:"both";
}

.nav-circle {
    display: inline-block;
    text-align: center;
    border: solid #ccc 2px;
    border-radius: 50%;
    margin: 0 10px 0 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.nav a{
    display: inline-block;
    background-color: rgb(53, 53, 53);
    list-style-type: none;
    width:25%;
    float:left;
    color: #ccc;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav a.active {
    border-bottom: solid #c00 2px;
}

@media (min-width: 500px) {
    .nav {
        height: 30px;
    }

    .nav-circle {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .nav a{
        height: 50px;
        line-height: 50px;
    }
}


/* main container */

.main-container {
    padding: 70px 0 0 0;
    width: 100%;
    margin: auto;
}

.main-container {
    color: #999;
}

.main-container section{
    width:90%;
    margin: auto;
}

.main-container input[type="text"] {
    width:100%;
    height:30px;
    margin: 10px 0 0 0;
    font-size: 1.2em;
    padding: 0 0 0 40px;
    box-sizing: border-box;
}

.main-container input[type="text"] {
    width:100%;
    height:40px;
    margin: 10px 0 0 0;
    font-size: 1.2em;
    padding: 0 0 0 40px;
    box-sizing: border-box;
}

.main-container .btn {
    background-color: #FE5A4C;
    width: 100%;
    display: inline-block;
    margin: 10px 0 0 0;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}


@media (min-width: 500px) {
    .main-container {
        padding: 90px 10px 0 10px;
        width: 70%;
    }    
}


/* toggle list container */
.toggle-list-container {
    overflow: auto;
    height: 160px;
    width: 100%;
    background-color: #fff;
}

.toggle-list-container>ul {
    color: #000;
    line-height: 39px;
    font-size: 1.2em;
    list-style-type: none;
}

.toggle-list-container>ul li{
    padding: 0 0 0 40px;
    border-bottom: solid 1px #ccc;
}



