<!-- details section -->
<section class="details">
  <div>
    <h2>How much time do you need?</h2>
    <input type="text" name="timeNeed" id="timeNeed" placeholder="Duration in hours" />
    <a class="text" href="#">Our basic cleaning</a>
  </div>
  <div>
    <h2>How often?</h2>
    <input type="text"></input>
  </div>
  <div class="often-selection">
    <h2>Your individual price offer</h2>
    <div class="options">
      <tiger-offer></tiger-offer>
      <span>Economy Plus Offer: Your home will be cleaned by experience Tiger!</span>
      <span>Our service: We will contact you before your booking to arrange final details.</span>
    </div>
  </div>
  <a href="#" class="btn">Next</a>
  <a href="#" class="link">Go Back</a>
</section>